<div class="container mt-3 mx-auto pb-5">
    <div></div>
    <div class="row g-4  " >
        <div (click)="postUrl(post.url)" *ngFor="let post of _PostInterface |search:userSearch | paginate: { id: 'postsPagination',
        itemsPerPage: pageSize,
        currentPage: p,
        totalItems: total }" class="col-lg-4 bg-transparent  px-2 cursorPointer">
            <div style="height: 580px;" class=" p-3 bg-white shadow  d-flex flex-column justify-content-between" >
                <div class="" >

                    <img  [src]="post.cover_image==null ?'https://media.dev.to/cdn-cgi/image/width=1000,height=420,fit=cover,gravity=auto,format=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2Fv1y2fu3s9qwuys2lanu3.png':post.cover_image " class="w-100 " alt="">
                    <p class="typeOf fw-bold primary700 mt-4">{{post.type_of}}</p>
                    <h3  class="position-relative pe-3 my-4 ">{{post.title}} <i class="bi bi-arrow-up-right fw-bold position-absolute top-10 end-0 fs-6"></i></h3>
                    <p class="gray500 mt-4">{{post.description}}</p>


                </div>



                
                    <div>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <div class="rounded-circle overflow-hidden" style="height: 50px;width: 50px;">
                        <img class="w-100" [src]="post.user.profile_image" alt="">
                        </div>
    
                        <div>
                            <p class="typeOf fw-medium mb-0">{{post.user.name}} </p>
                            <p class="typeOf fw-medium mb-0 gray500">{{post.published_at.slice(0,10)}} </p>
    
                        </div>
                    
                </div>

                
            </div>
        </div>
    </div>

    <app-empty-state *ngIf="((_PostInterface|search:userSearch).length==0)&&isError==false"></app-empty-state>
    <app-error *ngIf="isError"></app-error>

    <div *ngIf="!userSearch&&isError==false" class="d-flex justify-content-center mt-5">
        <pagination-controls  id="postsPagination"
        (pageChange)="pageChanged($event)"
        (pageBoundsCorrection)="pageChanged($event)"
        [maxSize]="5"
        [directionLinks]="true"
        [autoHide]="true"
        [responsive]="true"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page">
</pagination-controls>

    </div>

</div>
